<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>EliminarVentanilla</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.EliminarVentanilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioVentDet</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.EditarUsuarioVentDet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPerfil</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.ActualizarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarTurnosOficinaCentral</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.EnviarTurnosOficinaCentral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarTurno</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.CancelarTurno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPerfilImg</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.ActualizarPerfilImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteAtendidos</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.ReporteAtendidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTiempoServicio</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.ReporteTiempoServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteTiempoTicket</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.ReporteTiempoTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarVentanilla</servlet-name>
        <url-pattern>/eliminarventana</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AgregarVentanilla</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.AgregarVentanilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuario</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.AgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarVentanilla</servlet-name>
        <servlet-class>com.sadm.turnos.servlet.EditarVentanilla</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarVentanilla</servlet-name>
        <url-pattern>/agregarventana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuario</servlet-name>
        <url-pattern>/agregarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/eliminarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/editarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarVentanilla</servlet-name>
        <url-pattern>/editarventana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioVentDet</servlet-name>
        <url-pattern>/editarusuarioventdet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPerfil</servlet-name>
        <url-pattern>/actualizarperfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarTurnosOficinaCentral</servlet-name>
        <url-pattern>/enviarturnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarTurno</servlet-name>
        <url-pattern>/cancelarturno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPerfilImg</servlet-name>
        <url-pattern>/actualizarperfilimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteAtendidos</servlet-name>
        <url-pattern>/reporteatendidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTiempoServicio</servlet-name>
        <url-pattern>/reportetiemposervicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteTiempoTicket</servlet-name>
        <url-pattern>/reportetiempoticket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
